.jumbotron {
  background-color: #D1BB9E;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

#about {
  background-color: #EAD8C0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#projects {
  background-color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#contact {
  background-color: #6c52a5;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
